<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="CSS/myCSS.css">

    </head>

    <h1>Hello <%=name%></h1>
    <button id="btn">Click here</button>
    <button id="btn1">Add Text</button>
    <div id="div1"><h2>Here is my text</h2></div> 
    <div id="div2"></div>
    <div id="div3"></div>
    
    <table style="width: 100%;">
        <tr>
            <td><button class="tac" id="bt">This Button</button></td>
            <td><button class="tac" id="bt1">This Button</button></td>
            <td><button class="tac" id="bt2">This Button</button></td>
        </tr>
        <tr>
            <td><button class="tac" id="bt3">This Button</button></td>
            <td><button class="tac" id="bt4">This Button</button></td>
            <td><button class="tac" id="bt5">This Button</button></td>
        </tr>
        <tr>
            <td><button class="tac" id="bt6">This Button</button></td>
            <td><button class="tac" id="bt7">This Button</button></td>
            <td><button class="tac" id="bt8">This Button</button></td>
        </tr>
    </table>
    
    <form action="/logout?_method=DELETE" method="POST" >
        <button type="submit">Logout</button>
    </form>
    <script src="JS/myJavaScript.js" async defer></script>
</html>


